{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>

  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <link rel="stylesheet" href="{% static 'assets/css/style2.css' %}">
  

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="top">

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="./index.html" class="logo">
        <img src="{% static 'assets/images/logo4.png' %}" alt="Filmlane logo">

      </a>

      <div class="header-actions">

        <button class="search-btn">
          <ion-icon name="search-outline"></ion-icon>
        </button>

       
        {% comment %} <a href="{% url 'profile' %}"> {% endcomment %}
          <a href="{% url 'userprofile' %}">
        <button class="btn btn-primary">{{ request.user.username }}</button>
      </a>
        {% comment %} </a> {% endcomment %}
        <a href="{% url 'logout' %}">
        <button class="btn btn-primary">logOut</button>
        </a>
        {% comment %} <a href="{% url 'watch_history' %}">
        <button class="btn btn-primary">History</button>
        </a> {% endcomment %}
      </div>

      <button class="menu-open-btn" data-menu-open-btn>
        <ion-icon name="reorder-two"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="./index.html" class="logo">
            <img src="./assets/images/logo.svg" alt="Filmlane logo">
          </a>

          <button class="menu-close-btn" data-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="{% url 'home' %}" class="navbar-link">Home</a>
          </li>

          

          <li>
           
            <a href="{% url 'profile' %}" class="navbar-link">About us</a>
          
          </li>

          {% comment %} <li>
            <a href="#" class="navbar-link">Contact us</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Pricing</a>
          </li> {% endcomment %}

        </ul>

        <ul class="navbar-social-list">

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </nav>

    </div>
  </header>
  {% block body %}
  
  
  
  
  
  
  
  
  {% endblock body %}  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'assets/js/script.js' %}"></script>
  {% comment %} <script src="{% static 'assets/js/tx.js' %}"></script> + {% endcomment %}

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>